@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.App{
    background-color: #EAEAFF;
    height: 100vh;
}

.roboto-dark{
    font-family: 'Roboto', sans-serif;
    color:black
}