@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.App{
    background-color: #EAEAFF;
}

.roboto-dark{
    font-family: 'Roboto', sans-serif;
    color:black
}

.roboto-gray{
    font-family: 'Roboto', sans-serif;
    color:#616161;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}